body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    text-align: center;
    margin-top: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(31, 180, 239), rgb(106, 106, 241));
    padding: 10px 20px;
    font-weight: 900;
    color: ivory;
    border-radius: 5px;
    margin-top: 15px;
}

.top-banner {
    background-image: url(images2/top-banner.webp);
    background-repeat: no-repeat;
    height: 450px;
    text-align: center;
    color: rgb(138, 138, 237);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    padding-top: 2px;
    padding-bottom: 10px;
}

.para1 {
    color: rgb(232, 186, 70);
    font-size: large;
}

.display-flex1 {
    display: flex;
    margin-left: 30%;

}

.half-width {
    width: 8%;
    margin: 1%;
    border: 2px solid rgb(153, 149, 149);
    background-color: rgb(251, 247, 247);
}

.select3rd {
    background-color: rgb(242, 204, 211);
}

input {
    border: none;
    border-bottom: 2px solid gray;
    max-width: 1000px;
    margin-top: 2%;
}

.display-flex2 {
    display: flex;
}

#food {
    background-color: rgb(231, 247, 247);
    margin-left: 100px;
    margin-right: 50px;
}

#education {
    background-color: rgb(246, 221, 225);
    margin-right: 50px;
}

#shelter {
    background-color: rgb(251, 241, 226);
    margin-right: 100px;
}